<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/testautomation</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="connection.pool_size">10</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.max_size">100</property>
        <property name="hibernate.c3p0.timeout">30000</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">30000</property>

        <mapping class="ru.itb.configuration.DAO.testcase.TestCaseDAO"/>
        <mapping class="ru.itb.configuration.DAO.step.UIStepDAO"/>
        <mapping class="ru.itb.configuration.DAO.action.ActionDAO"/>
        <mapping class="ru.itb.configuration.DAO.project.ProjectDAO"/>
        <mapping class="ru.itb.configuration.DAO.testcase.TestCaseGroupDAO"/>
        <mapping class="ru.itb.configuration.DAO.jira.JiraProfileDAO"/>
        <mapping class="ru.itb.configuration.DAO.mail.MailProfileDAO"/>
        <mapping class="ru.itb.configuration.DAO.dataset.DataSetDAO"/>
        <mapping class="ru.itb.configuration.DAO.document.DocumentDAO"/>


    </session-factory>
</hibernate-configuration>